@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h1 class="display-4">Fietskleding.nl</h1>
    <a href="Login">Login</a>

    <div class="row">
        @foreach (Product product in Model.Products)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src='Images\@product.Afbeelding' class="card-img-top" alt="@product.Naam" style="height: 250px;">
                    <div class="card-body">
                        <h5 class="card-title">@product.Naam</h5>
                        <p class="card-text">€@product.Prijs</p>
                        <a class="btn btn-primary" href="/Bestel?artikelnummer=@product.Artikelnummer">Bestel</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
